doctype html

html(lang="en")

    head

        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

        title MailAgency Index

        script(src='/static/vendors.js', type='text/javascript')

        script(type='text/javascript').

            window.onload = function() {

                var logoutButton = document.getElementById('logoutButton');
                var statusMessage = document.getElementById('statusMessage');

                var xhr = new XMLHttpRequest();

                xhr.timeout = #{authTimeout};

                xhr.onloadstart = function() {
                    logoutButton.disabled = true;
                    statusMessage.innerHTML = "Logging out...";
                };

                xhr.ontimeout = function() {
                    logoutButton.enabled = true;
                    statusMessage.innerHTML = "Server answer timeout";
                };

                xhr.onerror = function() {

                    logoutButton.enabled = true;
                    statusMessage.innerHTML = "Error";

                };

                xhr.onload = function() {

                    var answer = JSON.parse(xhr.responseText);

                    if(xhr.status !== 200) {


                        statusMessage.innerHTML = "Error code: " + xhr.status
                                + " Message: " + answer.message;
                        logoutButton.disabled = false;

                    } else {
                        statusMessage.innerHTML = "Ok";

                        localStorage.removeItem('access_token');

                        location.replace("/");
                    }

                };

                logoutButton.addEventListener('click', function(e) {
                    e.preventDefault();

                    xhr.open('DELETE', '#{authUrl}', true);
                    xhr.send();

                });

            };

    body

        h1 MailAgency Index

        button#logoutButton(type='submit') Log out

        #statusMessage