doctype html

html(lang="en")

    head

        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

        title MailAgency Index

        script.

            window.options = {};
            window.options.dashboard = {};

            window.options.dashboard.authTimeout = '#{authTimeout}'
            window.options.dashboard.authUrl = '#{authUrl}'

        script(src='/static/vendors.js', type='text/javascript')
        script(src='/static/app.js', type='text/javascript')

    body

        h1 MailAgency Index

        button#logoutButton(type='submit') Log out

        #statusMessage