doctype html

html(lang="en")

    head

        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")

        title MailAgency Login

        script(type='text/javascript').

            window.onload = function() {

                var loginButton = document.getElementById('loginButton');
                var statusMessage = document.getElementById('statusMessage');
                var emailInput = document.getElementById('email');
                var passwordInput = document.getElementById('password');

                var xhr = new XMLHttpRequest();

                xhr.timeout = #{authTimeout};

                xhr.onloadstart = function() {
                    loginButton.disabled = true;
                    statusMessage.innerHTML = "Logging in...";
                };

                xhr.ontimeout = function() {
                    loginButton.enabled = true;
                    statusMessage.innerHTML = "Server answer timeout";
                };

                xhr.onerror = function() {

                    loginButton.enabled = true;
                    statusMessage.innerHTML = "Error";

                };

                xhr.onload = function() {

                    var answer = JSON.parse(xhr.responseText);

                    if(xhr.status !== 200) {


                        statusMessage.innerHTML = "Error code: " + xhr.status
                                + " Message: " + answer.message;
                        loginButton.disabled = false;

                    } else {
                        statusMessage.innerHTML = "Ok";
                        loginButton.disabled = false;

                        localStorage.setItem('access_token', answer.access_token);

                        function getCookie(cookieName) {

                            var ca = document.cookie.split(';');

                            var a = cookieName + '=';

                            var r = null;

                            ca.forEach(function(c) {

                                if(c.indexOf(a) === 0) {

                                    r = c.substring(a.length);

                                }

                            });

                            return r ? decodeURIComponent(r) : r;
                        }

                        var ou = getCookie('originalUrl');

                        location.replace(ou ? ou : "/");
                    }

                };

                loginButton.addEventListener('click', function(e) {
                    e.preventDefault();

                    xhr.open('POST', '#{authUrl}', true);
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.send(JSON.stringify({
                        email: emailInput.value,
                        password: passwordInput.value
                    }));

                });

            };

    body

        h1 MailAgency Login

        form#formLogin(method='POST', name='formLogin')

            input#email(name='email', type='email', placeholder='email', required, autofocus)
            input#password(name='password', type='password', placeholder='password', required)
            button#loginButton(type='submit') Log in

        #statusMessage